{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "**/*.svelte",
      "options": {
        "svelteSortOrder": "options-scripts-markup-styles",
        "svelteStrictMode": true,
        "svelteAllowShorthand": true,
        "svelteIndentScriptAndStyle": true,
        "plugins": [ "prettier-plugin-svelte" ]
      }
    }
  ]
}
